# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/
.env
*.pot
*.pyc
*.pyo

# Django migrations
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pipenv/venv
Pipfile.lock
Pipfile
venv/
env/
ENV/
.venv/
.idea/